---
layout: default
---
<ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}


  {% for post in site.categories[category] %}
  <div class="col s12" style="margin-left: auto; margin-right: auto;">
    <a href="{{post.url | prepend: site.baseurl}}" style="color:black;">
      <div class="card hoverable">
        <div class="card-content">
          {% if post.img %}
            <img class="post-image-archive" src={{ "/assets/images/" | prepend: site.baseurl | append: post.img}} alt="{{ post.title }}">
          {% endif %}
          <span id="post-title" class="card-title" style="font-weight: bold;margin-bottom:1rem; font-size: 1.5em;">{{post.title}}</span>
          <p style="font-size:1.1em">{{ post.description }}</p>
          <hr style="border: 1px solid #cccccc;">
          {% for tag in post.tags %}
            <div class="chip" >
              <span style="font-weight: bold; font-size:1.4em;">#{{ tag }}</span>
            </div>
            {% endfor %}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}

  
  
</ul>